body {
    margin: 0;
    background-color: rgb(66, 66, 66);
}

.wrapper {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}


/* ----------------------------------- */


/* Animation 0 */

.animationZero {
    height: 100px;
    width: 100px;
    background-color: rgb(195, 148, 176);
    border-radius: 50%;
    transition: width 0.5s ease, height 0.5s ease;
}

.changeZero {
    width: 100vh;
    height: 100vh;
}


/* ----------------------------------- */


/* Animation 1 */

.animationOne {
    --r1: 154%;
    --r2: 68.5%;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background: radial-gradient( var(--r1) var(--r2) at top, #0000 79.5%, #a4c6e0 80%), radial-gradient(var(--r1) var(--r2) at bottom, #a4c6e0 79.5%, #0000 80%), radial-gradient(var(--r1) var(--r2) at top, #0000 79.5%, #a4c6e0 80%);
    background-size: 50.5% 220%;
    background-position: -100% 0%, 0% 0%, 100% 0%;
    background-repeat: no-repeat;
    animation: animationOne 2s infinite linear;
}

@keyframes animationOne {
    33% {
        background-position: 0% 33%, 100% 33%, 200% 33%;
    }
    66% {
        background-position: -100% 66%, 0% 66%, 100% 66%;
    }
    100% {
        background-position: 0% 100%, 100% 100%, 200% 100%;
    }
}


/* ----------------------------------- */


/* Animation 2 */

.animation2 {
    position: absolute;
    display: flex;
}

.circle-animation2 {
    position: relative;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: rgb(62, 223, 204);
    animation: move-the-circle 0.5s infinite;
    transform-origin: center center;
}

@keyframes move-the-circle {
    0% {
        transform: translate(0, 0);
    }
    50% {
        transform: translate(0, 150px);
    }
    100% {
        transform: translate(0, 0);
    }
}


/* ----------------------------------- */


/* Animation 3 */

.animationThree {
    width: 50em;
    height: 50em;
    font-size: 10px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.animationThree .face {
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    animation: animate023845 1s linear infinite;
}

.animationThree .face:nth-child(1) {
    width: 100%;
    height: 100%;
    color: rgb(133, 189, 212);
    border-color: currentColor transparent transparent currentColor;
    border-width: 0.2em 0.2em 0em 0em;
    --deg: -45deg;
    animation-direction: normal;
}

.animationThree .face:nth-child(2) {
    width: 70%;
    height: 70%;
    color: rgb(199, 158, 220);
    border-color: currentColor currentColor transparent transparent;
    border-width: 0.2em 0em 0em 0.2em;
    --deg: -135deg;
    animation-direction: reverse;
}

.animationThree .face .circle {
    position: absolute;
    width: 50%;
    height: 0.1em;
    top: 50%;
    left: 50%;
    background-color: transparent;
    transform: rotate(var(--deg));
    transform-origin: left;
}

.animationThree .face .circle::before {
    position: absolute;
    top: -0.5em;
    right: -0.5em;
    content: '';
    width: 1em;
    height: 1em;
    background-color: currentColor;
    border-radius: 50%;
}

@keyframes animate023845 {
    to {
        transform: rotate(1turn);
    }
}


/* ----------------------------------- */


/* Animation 4 */

.animationFour {
    position: relative;
    width: 200px;
    height: 200px;
    animation: animate 3s ease-in-out infinite;
}

.animationFour::before {
    content: "";
    position: absolute;
    bottom: 0;
    width: 200px;
    height: 100px;
    background: #3fbec5;
    border-bottom-left-radius: 100px;
    border-bottom-right-radius: 100px;
}

.animationFour::after {
    content: "";
    position: absolute;
    background: #ffe2e2;
    top: 50%;
    width: 40px;
    left: -15px;
    height: 40px;
    border-radius: 50%;
    transform: (translateY(-100%));
    animation: animateBall 3s ease-in-out infinite;
}

@keyframes animateBall {
    0% {
        transform: translateY(-100%) translateX(-30px)
    }
    50% {
        transform: translateY(-100%) translateX(220px)
    }
    100% {
        transform: translateY(-100%) translateX(-30px)
    }
}

@keyframes animate {
    0% {
        transform: rotate(50deg);
    }
    50% {
        transform: rotate(-50deg);
    }
    100% {
        transform: rotate(50deg);
    }
}


/* ----------------------------------- */


/* Animation 5 */

.animationFive {
    width: 500px;
    height: 200px;
    position: relative;
    z-index: 1;
    margin: 10% auto;
}

.circleFive {
    width: 70px;
    height: 70px;
    position: absolute;
    border-radius: 50%;
    background-color: #2bbc98;
    left: 15%;
    transform-origin: 50%;
    animation: circle7124 .5s alternate infinite ease;
}

@keyframes circle7124 {
    0% {
        top: 60px;
        height: 5px;
        border-radius: 50px 50px 25px 25px;
        transform: scaleX(1.7);
    }
    40% {
        height: 20px;
        border-radius: 50%;
        transform: scaleX(1);
    }
    100% {
        top: 0%
    }
}

.circleFive:nth-child(2) {
    left: 45%;
    animation-delay: .2s;
}

.circleFive:nth-child(3) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}

.shadow_div {
    width: 70px;
    height: 7px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 9);
    position: absolute;
    top: 62px;
    transform-origin: 50%;
    z-index: -1;
    left: 15%;
    filter: blur(1px);
    animation: shadow046 .5s alternate infinite ease;
}

@keyframes shadow046 {
    0% {
        transform: scaleX(1.5);
    }
    40% {
        transform: scaleX(1);
        opacity: .7;
    }
    100% {
        transform: scaleX(.2);
        opacity: .4;
    }
}

.shadow_div:nth-child(4) {
    left: 45%;
    animation-delay: .2s;
}

.shadow_div:nth-child(5) {
    left: auto;
    right: 15%;
    animation-delay: .3s;
}


/* ----------------------------------- */


/* Animation 6 */

.animationSix {
    width: 100vw;
    height: 100vh;
    position: relative;
    top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #22283100;
}

.circleSix {
    width: 500px;
    height: 500px;
    background-color: #00adb5;
    border-radius: 50%;
    animation-name: bouncing;
    animation-duration: 0.5s;
    animation-timing-function: cubic-bezier(0.280, 0.840, 0.420, 1);
    animation-iteration-count: infinite;
    position: relative;
    left: -60px;
    transition: left 1s;
    transition-delay: 0;
}

@keyframes bouncing {
    0% {
        transform: scale(1, 1) translateY(0);
    }
    10% {
        transform: scale(1.1, 0.9) translateY(0);
    }
    30% {
        transform: scale(.9, 1.1) translateY(-100px);
    }
    48% {
        transform: scale(1.05, .95) translateY(0);
    }
    55% {
        transform: scale(0.95, 1.05) translateY(-15px);
    }
    64% {
        transform: scale(1, 1) translateY(0);
    }
    100% {
        transform: scale(1, 1) translateY(0);
    }
}


/* ----------------------------------- */


/* Animation 7 */

.animationSeven {
    padding: 0;
    margin: 0;
    display: grid;
    place-items: center;
    min-height: 100vh;
}

.boxSeven {
    position: relative;
    width: 700px;
    height: 700px;
    border-radius: 20px;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.boxSeven::before {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    background: conic-gradient(transparent, transparent, transparent, #77d7a6);
    animation: rotate 0.4s linear infinite;
}

.boxSeven::after {
    content: '';
    position: absolute;
    width: 500px;
    height: 500px;
    animation: rotate 0.4s linear infinite;
    animation-delay: -0.2s;
    background: conic-gradient(transparent, transparent, transparent, #c786d4);
}

@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}


/* ----------------------------------- */


/* Animation 8 */

.animationEight {
    position: absolute;
    width: 100vw;
    height: 100vh;
    position: relative;
}

.box8 {
    position: absolute;
    animation: eight 2s infinite alternate linear;
}

@keyframes eight {
    0% {
        background-color: #eb7c74;
        left: 0%;
        top: 0%;
        width: 10vw;
        height: 10vh;
    }
    25% {
        background-color: #ecca75;
        left: 25%;
        top: 25%;
        width: 20vw;
        height: 20vh;
    }
    50% {
        background-color: #9be38f;
        left: 50%;
        top: 50%;
        width: 40vw;
        height: 40vh;
    }
    75% {
        background-color: #60c4db;
        left: 75%;
        top: 75%;
        width: 60vw;
        height: 60vh;
    }
    100% {
        background-color: #da9ada;
        left: 100%;
        top: 100%;
        width: 80vw;
        height: 80vh;
    }
}


/* ----------------------------------- */


/* Animation 9 */

.circleNine {
    position: absolute;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: animate 15s linear infinite, particles 4s ease-in-out infinite;
}

.circleNine:nth-child(2) {
    width: 50px;
    height: 50px;
    animation: animate 10s linear infinite, particles 7s ease-in-out infinite;
}

.circleNine:nth-child(4) {
    width: 80px;
    height: 80px;
    animation: animate 7s linear infinite, particles 10s ease-in-out infinite;
}

.circleNine:nth-child(3) {
    width: 100px;
    height: 100px;
    animation: animate 5s linear infinite, particles 6s ease-in-out infinite;
}

.circleNine::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 15px;
    height: 15px;
    background: var(--clr);
    border-radius: 50%;
    box-shadow: 0 0 20px var(--clr), 0 0 60px var(--clr), 40px -70px 0px var(--clr), 40px -70px 20px var(--clr), 70px -70px 0 var(--clr), 70px -70px 20px var(--clr), -70px -150px 0px var(--clr), -70px -150px 20px var(--clr);
    animation: animate 10s linear infinite;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes particles {
    0%,
    100% {
        scale: 0.5;
    }
    50% {
        scale: 1.25;
    }
}


/* ----------------------------------- */